<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="https://github.com/rafaelnotty/" target="_blank">Visita mi Espacio Github</a></li>
        <li><a href="https://rafaelnotty.github.io/mycvpage" target="_blank">Mi Portafolio</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a>IP Detectada: {{ user_ip }}</a></li>
        <li><a>Fecha Servidor: {{ ct }}</a></li>
    </ul>
    <a href="/" class="navbar-logo">
        <img src="/static/images/logo.jpg" alt="Logo">
    </a>
</nav>
