<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>--R-Engineering--</title> 
    <link rel="stylesheet" type="text/css" href="static/estilos/main.css">
 </head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    <br>
    
    <form action="/execute-function" method="post">
        <button type="submit">Ejecutar función</button>
    </form>

    <br>
    <footer>    
        <img src="/static/images/logo.jpg" alt="Logo">
    </footer>
    
    <script src="scripts.js"></script>
</body>
</html>
