{% extends 'base.html' %}
{% block title %}Página de inicio{% endblock %}

{% block content %}
<h2>Welcome to the Future</h2>
<p> Aqui encontrarás soluciones de Ingenieria Avanzada, Proyectos de Infraestructura de Energia eléctrica, Telecomunicaciones, Automatización Industrial, Ciencia de Datos e Inteligencia Artificial</p>

<h3>Analizar Datos</h3>
<h4>Google sheets</h4>
    <form id="myForm">
        <label for="id1">ID Document (Q):</label>
        <input type="text" id="id1" name="id1" required><br><br>

        <label for="id2">ID Document (P):</label>
        <input type="text" id="id2" name="id2" required><br><br>

        <button type="submit">Procesar</button>
        <button type="submit">Ver Respuesta</button>
        <button onclick="prueba()">Haz clic para probar</button>
    </form>
    
{% endblock %}
